* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url(../style/font/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
    
    font-family: "Garamond";
    src: url(../style/font/EB_Garamond/static/EBGaramond-Regular.ttf);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Garamond";
}

html, body {
    font-family: "Cormorant Garamond";

    width: 100%;
    height: 100%;
    background: url(../style/img/bg.jfif);
    background-size: 100% 140%;
    background-position: 0 -370px;
    background-repeat: no-repeat;
    background-blend-mode: color;
    background-color: #11111180;
    /* прижимаем footer к нижней части */
    display: flex;
    flex-direction: column;
    animation: identifier 3s linear infinite alternate;
}

html {
    background-color: #111111;
}


header {
    width: 1280px;
    margin: 30px auto;

    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    gap: 80px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: solid 1px #cdaa7d00;
}

nav a:hover {
    color: #CDAA7D;
    border-color: #CDAA7D;
}

.instagram,
.logo,
.label_menu,
.label_close {
    border: none;
    color: #FFFFFF;
}

.instagram:hover,
.logo:hover,
.label_menu:hover,
.label_close:hover {
    color: #CDAA7D;
}

.logo {
    margin: 0 40px;
}

#menu {
    display: none;
}

#menu:checked ~ .menu {
    transform: translate(0, 0);
}

label {
    cursor: pointer;
}

.menu {
    transform: translate(475px, 0);
    transition: all .4s linear;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;

    background-color: #111111e8;
    border-left: solid 1px #FFFFFF;
    padding: 0 80px;
    color: #FFFFFF;

    position: fixed;
    right: 0;
    bottom: 0;

    height: 100%;
    width: 475px;

    font-size: 18px;
    font-weight: 400;
}

.menu label {
    position: absolute;
    top: 40px;
    left: 80px;
}

.menu ul {
    list-style: none;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu ul li:first-child {
    font-weight: 700;
    margin-bottom: 10px;
}

hr {
    width: 1280px;
    margin: 0 auto;
    border-color: #FFFFFF80;
}

.banner {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.banner h1 {
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 700;
    line-height: 86px;
    text-align: center;
    margin-top: 260px;
}

.scroll {
    position: absolute;
    bottom: 100px;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

@keyframes scrollAnimation {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 5px);
    }
}

.scroll_circle {
    animation: scrollAnimation .4s linear infinite alternate;
}

blockquote {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    width: 850px;
    margin: 0 auto;
    font-size: 27px;
    line-height: 31px;
    font-weight: 700px;
    color: #FFFFFF;
}

blockquote::before {
    content: url(../style/img/blockquote.svg);
}

.service {
    width: 1280px;
    margin: 0 auto;
    margin-top: 100px;

    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.service article {
    display: flex;
    flex-direction: column;
    gap: 30px;

    font-size: 30px;
    line-height: 46px;
    color: #FFFFFF;
}

.service img {
    width: 396px;
    height: 300px;
}

.service article:after {
    content: '';
    display: block;
    width: 396px;
    height: 300px;
    border: solid 1px #CDAA7D;
    position: absolute;
    transform: translate(20px, -20px);
    z-index: -1;
}

.brend {
    width: 1280px;
    margin: 150px auto;
    display: flex;
    justify-content: space-around;
    transition: all .1s linear;
}

.brend_img {
    filter: brightness(.4);
    cursor: pointer;
}

.brend_img:hover {
    filter: brightness(1);
}