nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 40px;
    font-size: 43px;
    padding: 40px;
    background-color: brown;
    width: max-content;
    height: 100vh;
    position: relative;
    display: flex;
}

nav a {
    padding: 10px;
    background-color: #fff;
    color: black;
    text-decoration: none;
}

nav a:hover {
    background-color: green;
}

nav label {
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: #fff;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav label:hover {
    background-color: green;
}

.button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: brown;
    padding: 20px 40px;
    cursor: pointer;
    font-size: 32px;
}

.button:hover { filter: brightness(1.2); }
.button:active { filter: brightness(1); }
input[type="checkbox"] { display: none; }

nav { transform: scale(0) rotate(360deg);opacity: 0;}

input:checked ~ nav {
    transform: scale(1) rotate(0deg);
    opacity: 1;
}

* {
    transition: all 1s linear;
}
